:root{
    --backgroundColor : #181425;
    --textColor: #FFFFFF;
    --detailColor: #ff0044;
}

body{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    
    margin: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100dvw;
    height: 100dvh;
}

.btn{
    background-color:var(--detailColor) ;
    border: 1px solid var(--textColor);    
    border-radius: 10px;
    color: var(--textColor);

    width: 80px;
    height: 40px;

    margin: 10px;
}

.restart{
    transform: scale(1);
    filter: brightness(100%);

    transition-property: transform, filter;
    transition-duration: .2s;

    &:hover{
        transform: scale(1.1);
        filter: brightness(120%);

        transition-property: transform, filter;
        transition-duration: .3s;
    }
}

.gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 1em;

    .space{
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid white;
        border-radius: 10px;
        
        transform: scale(1);
        transition-property: transform;
        transition-duration: .2s;

        h1{
            margin: 0;
        }
    
        &.rainbow{
            border-color: var(--detailColor);

            h1{
                animation: infinite rainbow 2.5s linear;
            }
        }

        &:hover{
            transform: scale(0.9);

            transition-property: transform;
            transition-duration: .3s;
        }
    }
}

@keyframes rainbow {
    0%{
        color: red;
        transform: rotateZ(0deg) skew(turn);
        scale: 1;
    }
    15%{
        color: orange;
    }
    30%{
        color: yellow;
    }
    45%{
        color: green;
        scale: 2;
    }
    60%{
        color: blue;
    }
    75%{
        color: indigo;
    }
    90%{
        color: violet;
        
    }
    100%{
        color: red;
        transform: rotateZ(360deg) skew(360000turn);
        scale: 1;
    }
}

@media(max-width: 500px){
    .gameBoard{
        grid-template-columns: repeat(3, calc((100dvw - 2em) / 3));
    }
}
